<h1 md-dialog-title>Support Chat</h1>
<div md-dialog-content>
  <md-list>
    <md-list-item *ngFor="let note of notes">{{note}}</md-list-item>
  </md-list>
</div>
<div md-dialog-actions>
  <form #myForm="ngForm">
    <md-input-container floatPlaceholder="never">
      <input mdInput name="note" placeholder="Note 3" [(ngModel)]="inputNote" tabindex="-1" [disabled]="processing" required>
    </md-input-container>
    <button md-icon-button (click)="send(inputNote)" [disabled]="!myForm.valid || processing"><md-icon>send</md-icon></button>

  </form>
</div>
