:host {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;

  .app-note-dialog {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
  }
}

.mat-dialog-content {
  flex: 1 1 auto;
}

h1 {
  color: #f55;
  margin-bottom: 10px;
}

form {
  display: flex;
  flex: 1 1 auto;

  .mat-input-container {
    flex: 1 1 auto;
  }
}
